{#
  Title: Card
  Description: Card Block
  Category: RD-blocks
  Icon: money
  Keywords: card
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-spacing--white rd-card">
  <div class="rd-container">
    <!-- Heading -->
    <div class="rd-card-heading">
      {% if fields.image %}
        <div class="rd-card-heading-image">
          <img src="{{ fields.image.url }}" alt="{{ fields.image.alt }}" class="rd-card-heading__image">
        </div>
      {% endif %}
      {% if fields.title %}
        <h2 class="rd-card__title">{{ fields.title }}</h2>
      {% endif %}
      {% if fields.description %}
        <span class="rd-card__text">{{ fields.description }}</span>
      {% endif %}
    </div>
    <!-- Heading End -->
    {% if fields.cards %}
    <!-- Cards -->
      <div class="rd-card-main">
        {% for item in fields.cards %}
          <a {% if item.button.url %} href="{{ item.button.url }}" {% endif %} class="rd-card-item {% if item.button.url %}rd-card-item--cursor{% endif %}" target="{{ items.button.target }}">
            <div class="rd-card-item-wrapper">
              <div class="rd-card-item-content">
                {% if item.image %}
                  <div class="rd-card-item-image">
                    <img src="{{ item.image.url }}" alt="{{ item.image.alt }}" class="rd-card-item__image">
                  </div>
                {% endif %}
                {% if item.title %}
                  <h3 class="rd-card-item__title">{{ item.title }}</h3>
                {% endif %}
                {% if item.description %}
                  <div class="rd-card-item__text">{{ item.description }}</div>
                {% endif %}
              </div>
              {% if item.button %}
                <div class="rd-card-item-button">
                  <span class="btn btn-secondary rd-card-item__button">{{ item.button.title }}</span>
                </div>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    <!-- Cards -->
    {% endif %}
    <!-- Button -->
    {% if fields.button %}
      <div class="rd-card-btn">
        <a class="btn btn-primary" href="{{ fields.button.url }}" target="{{ fields.button.target }}">{{ fields.button.title }}</a>
      </div>
    {% endif %}
    <!-- Button End -->
  </div>
</section>