{#
  Title: Flexible Content
  Description: Flexible Content block
  Category: RD-blocks
  Icon: layout
  Keywords: flexible
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

{% if fields.content %}
<section class="rd-block rd-spacing rd-flexible {% if fields.background == 'white' %}rd-flexible--white rd-spacing--white{% else %}rd-spacing--light-yellow{% endif %}">
  <div class="rd-container {% if fields.sidebar %}rd-flexible-with-sidebar{% else %}rd-flexible-no-sidebar{% endif %}">
    <div class="rd-flexible-main">
      {% for item in fields.content %}
        {% if item.content %}
          <div class="rd-flexible-content rd-content">
            {{ item.content }}
          </div>
        {% endif %}
        {% if item.image %}
          <div class="rd-flexible-image">
            <img src="{{ item.image.url }}" alt="{{ item.image.alt }}" class="rd-responsive">
          </div>
        {% endif %}
        {% if item.first_column or item.second_column %}
          <div class="rd-flexible-two-column rd-content">
            <div class="rd-flexible-column">
              {{ item.first_column }}
            </div>
            <div class="rd-flexible-column">
              {{ item.second_column }}
            </div>
          </div>
        {% endif %}
        {% if item.button %}
          <div class="rd-flexible-button rd-flexible-button--{{ item.position }}">
            <a href="{{ item.button.url }}" target="{{ item.button.target }}" class="btn btn-primary">{{ item.button.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if fields.sidebar %}
      <div class="rd-flexible-sidebar rd-content">
        {% if fields.sidebar_heading %}
          <span class="rd-flexible-sidebar__heading">{{ fields.sidebar_heading }}</span>
        {% endif %}
        {% for item in fields.sidebar_links %}
          {% if item %}
            <div class="rd-flexible-sidebar-link">
              <a href="{{ function('get_permalink', item.ID) }}" target="_self">{{ item.post_title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
{% endif %}