{#
  Title: Process
  Description: Showcase a process with customizable settings for titles, descriptions, and more.
  Category: RD-blocks
  Icon: schedule
  Keywords: process
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-spacing--light-yellow rd-process">
  <div class="rd-container">
    <!-- Heading -->
    <div class="rd-heading">
      {% if fields.subtitle %}
        <span class="rd-tag rd-process__subtitle rd-heading__subtitle">{{ fields.subtitle }}</span>
      {% endif %}
      {% if fields.title %}
        <h2 class="rd-heading__title">{{ fields.title }}</h2>
      {% endif %}
    </div>
    <!-- Heading End -->
    <!-- Content -->
    {% if fields.process %}
    <div class="rd-process-content">
      {% for item in fields.process %}
        <div class="rd-process-item">
          {% if item.icon %}
            <div class="rd-process-con">
              <div class="rd-process-icon">
                <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" class="rd-process__icon injectable">
              </div>

              <!-- Add Numbering -->
              <span class="rd-process__number">{{ '%02d'|format(loop.index) }}</span>
              <!-- Add Numbering End -->
            </div>
          {% endif %}
          {% if item.title %}
            <h3 class="rd-process__title">{{ item.title }}</h3>
          {% endif %}
          {% if item.description %}
            <p class="rd-process__description">{{ item.description }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- Content End -->
    <!-- Button -->
    {% if fields.button %}
      <div class="rd-process-btn">
        <a class="btn btn-tertiary" href="{{ fields.button.url }}" target="{{ fields.button.target }}">{{ fields.button.title }}</a>
      </div>
    {% endif %}
    <!-- Button End -->
  </div>
</section>