{#
  Title: Banner
  Description: Banner block
  Category: RD-blocks
  Icon: money
  Keywords: banner
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-spacing--white rd-banner {% if fn('is_front_page') %}rd-banner-home{% endif %}">
  <div class="rd-banner-bg">
    {% if fields.background %}
      <img src="{{ fields.background.url }}" alt="{{ fields.background.alt }}" class="rd-banner-bg__image rd-responsive">
    {% endif %}
  </div>
  <div class="rd-container rd-banner-wrapper">
    <div class="rd-banner-content">
      {% if fields.subtitle %}
        <span class="rd-tag rd-tag--bold rd-banner__tag">{{ fields.subtitle }}</span>
      {% endif %}
      {% if fields.title %}
        <h1 class="rd-banner__title">{{ fields.title }}</h1>
      {% endif %}
      {% if fields.description %}
        <p class="rd-banner__text">{{ fields.description }}</p>
      {% endif %}
      {% if fields.list %}
        <ul class="rd-banner-list">
          {% for item in fields.list %}
            <li class="rd-banner-list__item">
              <img src="{{ site.theme.link }}/images/icons/check-white.svg" alt="Checkmark" class="rd-banner-list__icon" />
              <span class="rd-banner-list__text">{{ item.text }}</span>
            </li>  
          {% endfor %}
        </ul>
      {% endif %}
      {% if fields.button %}
        <a href="{{ fields.button.url }}" target="{{ fields.button.target }}" class="rd-banner__button rd-banner__button--desktop btn btn-primary">{{ fields.button.title }}</a>
      {% endif %}
    </div>
    {% if fields.form %}
    <div class="rd-banner-form rd-form">
      <span class="rd-banner-form__title">{{ fields.form_title }}</span>
      {{ fields.rating|raw }}
      {{ fields.form|raw }}
    </div>
    {% endif %}

    {% if fields.button %}
      <a href="{{ fields.button.url }}" target="{{ fields.button.target }}" class="rd-banner__button rd-banner__button--mobile btn btn-primary">{{ fields.button.title }}</a>
    {% endif %}
  </div>
</section>