{#
  Title: In The Media
  Description: In The Media block
  Category: RD-blocks
  Icon: groups
  Keywords: team
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-blog ">
  <div class="rd-container">
    <!-- Heading -->
    <div class="rd-blog-heading">
      {% if fields.title %}
        <h2 class="rd-blog-heading__title">{{ fields.title }}</h2>
      {% endif %}
    </div>
    <!-- Heading End -->
    <!-- Content -->
    {% set posts = {'category': category_id, 'posts_per_page': fields.post_per_view, 'orderby': 'date', 'order': 'DESC'} %}
    {% if fn('get_posts', posts ) %}
      <div class="rd-blog-list">
				{% for post in fn('get_posts', posts ) %}
					{% set link = fn('get_permalink', post.ID) %}
					{% set thumbnail_url = fn('get_the_post_thumbnail_url', post.ID ) %}
          <a href="{{ link }}" class="rd-blog-item" target="_blank">
            {% if thumbnail_url %}
              <div class="rd-blog-item-image">
                <img src="{{ thumbnail_url }}" alt="{{ post.post_title }}" class="rd-responsive">
              </div>
            {% endif %}
            <div class="rd-blog-item-text">
              {% if post.post_date %}
                <div class="rd-blog-item__date">
                  <img src="{{ site.theme.link }}/images/icons/calendar.svg" alt="Calendar Icon">
                  <span>{{ post.post_date|date('j F Y') }}</span>
                </div>
              {% endif %}
              {% if post.post_title %}
                <h3 class="rd-blog-item__name">{{ post.post_title }}</h3>
              {% endif %}
              {% if post.post_excerpt %}
                <span class="rd-blog-item__text">{{ post.post_excerpt }}</span>
              {% endif %}
              <div class="rd-blog-item-btn">
              <span class="btn btn-secondary">Read More</span>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    <!-- Content End -->
  </div>
</section>