{#
  Title: Icon
  Description: Icon Block
  Category: RD-blocks
  Icon: money
  Keywords: icon
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-spacing--light-yellow rd-card rd-card--icon">
  <div class="rd-container">
    <!-- Heading -->
    <div class="rd-card-heading rd-card-heading--icon">
      {% if fields.subtitle %}
        <span class="rd-tag rd-card__tag">{{ fields.subtitle }}</span>
      {% endif %}
      {% if fields.title %}
        <h2 class="rd-card__title">{{ fields.title }}</h2>
      {% endif %}
      {% if fields.description %}
        <span class="rd-card__text">{{ fields.description }}</span>
      {% endif %}
    </div>
    <!-- Heading End -->
    {% if fields.icons %}
    <!-- Cards Desktop -->
      <div class="rd-card-main rd-card-main--icon">
        {% for item in fields.icons %}
          <div class="rd-card-item rd-card-item--icon">
            <div class="rd-card-item-wrapper rd-card-item-wrapper--icon">
              {% if item.icon %}
                <div class="rd-card-item-icon">
                  <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" class="rd-card-item__icon">
                </div>
              {% endif %}
              {% if item.title %}
                <h3 class="rd-card-item__title rd-card-item__title--icon">{{ item.title }}</h3>
              {% endif %}
              {% if item.description %}
                <p class="rd-card-item__text">{{ item.description }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    <!-- Cards Desktop End -->
    {% endif %}
    <!-- Button -->
    {% if fields.button %}
      <div class="rd-card-btn">
        <a class="btn btn-tertiary" href="{{ fields.button.url }}" target="{{ fields.button.target }}">{{ fields.button.title }}</a>
      </div>
    {% endif %}
    <!-- Button End -->
  </div>
</section>