{#
  Title: Testimonials
  Description: Testimonials block
  Category: RD-blocks
  Icon: list-view
  Keywords: testimonials
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

<section class="rd-block rd-spacing rd-testimonial" style="background: url({{ fields.background.url }}) no-repeat center; background-size: cover;">
  <div class="rd-container rd-testimonial-container">
    <div class="rd-testimonial-heading">
      {% if fields.subtitle %}
        <span class="rd-tag rd-testimonial-heading__subtitle">{{ fields.subtitle }}</span>
      {% endif %}
      {% if fields.title %}
        <h2 class="rd-testimonial-heading__title">{{ fields.title }}</h2>
      {% endif %}
    </div>
    {% if fields.testimonial %}
      <div class="rd-testimonial-content">
        {{fn('do_shortcode', fields.testimonial|striptags)}}
      </div>
    {% endif %}
    {% if fields.button %}
      <div class="rd-testimonial-btn">
        <a href="{{ fields.button.url }}" class="btn btn-primary">{{ fields.button.title }}</a>
      </div>
    {% endif %}
  </div>
</section>
