<div class="rd-header-top">
  <div class="rd-header-container rd-container">
    <div class="rd-header-wrapper flex justify-between items-center rd-header-top-wrapper">
    <!-- Desktop Locations -->
    <div class="rd-header-loc">
      {% for item in global.global_locations %}
        <a href="{{ item.address.url }}" target="{{ item.address.target }}" class="rd-header-loc__link">
          <img src="{{ site.theme.link }}/images/icons/location-blue.svg" alt="Location {{ item.name }}" title="{{ item.name }}" class="rd-header-loc__icon injectable">
          <div class="rd-header-loc__text">
            <b>{{ item.name }}</b>
            <span>{{ item.address.title }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
    <!-- Desktop Location End -->
    <!-- Mobile Locations -->
    <div class="rd-header-loc-mobile">
      <div class="swiper-btn swiper-prev">
        <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.67718 0.322442C5.77952 0.424719 5.86071 0.546161 5.9161 0.679826C5.97149 0.813492 6 0.956762 6 1.10145C6 1.24614 5.97149 1.38941 5.9161 1.52307C5.86071 1.65674 5.77952 1.77818 5.67718 1.88046L2.31078 5.24759C2.24195 5.31644 2.20329 5.4098 2.20329 5.50714C2.20329 5.60448 2.24195 5.69784 2.31078 5.76669L5.67718 9.13309C5.88378 9.3396 5.99989 9.61972 5.99996 9.91184C6.00003 10.204 5.88405 10.4841 5.67755 10.6907C5.47104 10.8973 5.19091 11.0135 4.8988 11.0135C4.60668 11.0136 4.3265 10.8976 4.1199 10.6911L0.752762 7.32397C0.514108 7.08534 0.324797 6.80204 0.195637 6.49024C0.066478 6.17845 2.25955e-07 5.84426 2.40708e-07 5.50677C2.5546e-07 5.16928 0.066478 4.8351 0.195638 4.5233C0.324797 4.21151 0.514108 3.92821 0.752762 3.68958L4.1199 0.322442C4.32643 0.115974 4.6065 -1.24587e-05 4.89854 -1.24459e-05C5.19057 -1.24331e-05 5.47065 0.115974 5.67718 0.322442Z" fill="#333333"/>
        </svg>
      </div>
      <div class="swiper locations">
        <div class="swiper-wrapper">
          {% for item in global.global_locations %}
            <div class="swiper-slide">
              <a href="{{ item.address.url }}" target="{{ item.address.target }}" class="rd-header-loc__link">
                <img src="{{ site.theme.link }}/images/icons/location-black.svg" alt="Location {{ item.name }}" title="{{ item.name }}" class="rd-header-loc__icon injectable">
                <div class="rd-header-loc__text">
                  <b>{{ item.name }}</b>
                  <span>{{ item.address.title }}</span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-btn swiper-next">
        <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.5 1.10141C0.500005 1.02242 0.515659 0.94391 0.545898 0.870941C0.576139 0.798073 0.619975 0.731399 0.675781 0.675629L0.676757 0.675629C0.789482 0.563164 0.942312 0.499847 1.10156 0.499847C1.26082 0.499874 1.41366 0.563125 1.52637 0.675629L4.89355 4.04282C5.08577 4.23501 5.23874 4.46356 5.34277 4.71469C5.44675 4.96575 5.49999 5.23494 5.5 5.50668C5.5 5.7784 5.44672 6.04763 5.34277 6.29868C5.23874 6.54981 5.08577 6.77835 4.89355 6.97055L1.52637 10.3377C1.41363 10.4503 1.26086 10.5135 1.10156 10.5135C0.942093 10.5135 0.788536 10.4505 0.675781 10.3377C0.56302 10.2249 0.499963 10.0715 0.5 9.91196C0.500038 9.75245 0.563942 9.59991 0.676758 9.48715L0.676758 9.48618L4.04297 6.11996C4.20541 5.95737 4.29687 5.73652 4.29687 5.50668C4.29675 5.27702 4.20529 5.05686 4.04297 4.89438L0.676757 1.52719L0.675781 1.52719C0.619977 1.47141 0.576133 1.40476 0.545898 1.33188C0.515654 1.2589 0.5 1.18041 0.5 1.10141Z" fill="#333333" stroke="black"/>
        </svg>
      </div>
    </div>
    <!-- Mobile Locations End -->
    <!-- Social -->
    <div class="rd-header-social">
      {% for item in global.global_social %}
        {% if item.social_image %}
          <a href="{{ item.social_link.url }}" target="{{ item.social_link.target }}" class="rd-header-social__link">
            <img src="{{ item.social_image.url }}" alt="Location {{ item.social_image.title }}" title="{{ item.social_image.title }}" class="rd-header-social__icon injectable">
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <!-- Social End -->
    </div>
  </div>
</div>
<div class="rd-header-bottom">
  <div class="rd-header-container rd-container">
    <div class="rd-header-wrapper flex justify-between items-center">
      <!-- Logo -->
      <div class="rd-header-logo">
        <a href="{{ site.link }}">
          <img src="{{ global.header_logo.url }}" alt="{{ site.title }} - logo" title={{ global.logo_image.title }}>
        </a>
      </div>
      <!-- Logo End -->
      <!-- Nav -->
      <div class="rd-header-nav">
        <!-- Menu -->
        <div class="rd-header-menu">
          <div class="rd-desktop">
            {% include 'partial/menu.twig'%}
          </div>
          <div class="rd-mobile">
            {% include 'partial/menu-mobile.twig'%}
          </div>
        </div>
        <!-- Menu End -->
      </div>
      <!-- Nav End -->
      <!-- Button -->
        <a href="{{ global.global_button.url }}" target="{{ global.global_button.target }}" class="btn btn-primary rd-header-nav__button">
          <img src="{{ site.theme.link }}/images/icons/phone-white.svg" alt="Phone Number" title="Phone Number" class="rd-header-nav__button-icon injectable">
          <span>{{ global.global_button.title }}</span>
        </a>
      <!-- Button End -->
    </div>
  </div>
</div>