<div class="rd-header-mobile">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="rd-header-mobile-menu rd-container">
  {% if menu %}
    <nav aria-label="menu navigation">
      <ul>
        {% for item in menu.items %}
          <li class="{{ item.classes | join(' ') }}">
            {% if item.children %}
              <a class="rd-header-menu-top__link dropdown" href="{{ item.link }}" target="{{ item.target }}">
                <span class="rd-header-menu-top__link-text">
                  {{ item.title }}
                  <img src="{{ site.theme.link }}/images/icons/chevron-down.svg" class="injectable rd-icon rd-icon--black rd-icon--handler rd-header--icon-right" alt="Arrow Right">
                </span>
              </a>
              <ul class="rd-header-menu-drop">
              {% for child in item.children %}
                <li class="rd-header-menu-drop-item">
                  <a class="rd-header-menu-drop__link" target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
                  {% if child.children %}
                  <ul class="rd-header-menu-drop-sub">
                    {% for sub in child.children %}
                      <a class="rd-header-menu-drop__link" target="{{ sub.target }}" href="{{ sub.link }}">{{ sub.title }}</a>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            {% else %}
              <a class="rd-header-menu-top__link" href="{{ item.link }}" target="{{ item.target }}">
                <span class="rd-header-menu-top__link-text">
                  {{ item.title }}
                </span>
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <a href="{{ global.global_menu_button.url }}" target="{{ global.global_menu_button.target }}" class="btn btn-primary rd-header-nav-mobile__button">
        {{ global.global_menu_button.title }}
      </a>
    </nav>
  {% endif %}
</div>

<svg class="rd-header-mobile-top__icon rd-header-menu-top__icon" width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.85896 1.18141C10.0349 -0.0167022 11.9651 -0.0167056 13.141 1.1814L20.7154 8.89858C22.5781 10.7964 21.2336 14 18.5744 14H3.42562C0.766391 14 -0.578131 10.7964 1.28459 8.89858L8.85896 1.18141Z" fill="white"/>
</svg>